html{
    font-family: sans-serif;
}
.padding{
    padding: 5%;
}
label{
    padding: 20px;
    width: fit-content;
    font-size: 16px;
}
.orderContent{
    padding: 5%;
    width: available;
    display: flex;
    justify-content: space-evenly;

}
.content {
    width:available;
    display: flex;
    justify-content: center;
    align-content: center;

}
.addCard{
    display: flex;

    justify-content: space-evenly;
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px 20px;
    width: 100%;
    height: max-content;
}
.orderCard{
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px 20px;
    width: 500px;
    height: max-content;
}
.productCard{
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px 20px;
    width: max-content;
    height: max-content;
}
.Card{
    align-content: center;
    border-radius: 25px;
    background: whitesmoke;
    padding: 64px;
    width: 500px;
    height: max-content;
}
.formBtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

}
.formBtn2 {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 200px;
}
.formBtn3 {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    height: 60px;
    width: fit-content;
}

input[type=submit]:hover {

    opacity: 0.8;
}
select{
    padding: 12px 20px;
    margin: 10px 0;

    cursor: pointer;
    width: available;
}
.textfield1{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.textfield2{
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.logo{
    padding: 16px;
    color: #04AA6D;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
    text-shadow: #cccccc 2px 2px 0.2rem;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}


li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #04AA6D;
}